In [162]:
#Import Libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [163]:
#Configuration Jobs

spark = SparkSession \
    .builder \
    .appName("Flights") \
    .getOrCreate()

In [164]:
#Load csv Data to DataFrame

In [165]:
#Flights
flightsDF= spark.read.option("header","true").csv("./Data/flights.csv")
#Airports
airportsDF= spark.read.option("header","true").csv("./Data/airports.csv")
#Airline
airlinesDF= spark.read.option("header","true").csv("./Data/airlines.csv")

In [166]:
#Functions to transform or remove columns
def RemoveColumnsFunction(df: DataFrame, columns_to_drop: ['']) -> DataFrame:
    return df.drop(*columns_to_drop)

In [167]:
#join airlines to flights to avoid code
flightsDF = flightsDF.join(airlinesDF,flightsDF.AIRLINE ==  airlinesDF.IATA_CODE,"inner").drop(flightsDF.AIRLINE).drop(col("IATA_CODE")).withColumnRenamed("AIRLINE","AIRLINE_") 
flightsDF = flightsDF.join(airportsDF,flightsDF.ORIGIN_AIRPORT ==  airportsDF.IATA_CODE,"inner").withColumnRenamed("CITY","CITY_DEPART_") 
columns_to_drop = ['ORIGIN_AIRPORT', 'IATA_CODE','AIRPORT','CITY','STATE','COUNTRY','LATITUDE','LONGITUDE']
flightsDF = RemoveColumnsFunction(flightsDF, columns_to_drop)
flightsDF = flightsDF.join(airportsDF,flightsDF.DESTINATION_AIRPORT ==  airportsDF.IATA_CODE,"inner").withColumnRenamed("CITY","CITY_ARRIVAL_") 
flightsDF = RemoveColumnsFunction(flightsDF, columns_to_drop)

In [168]:
# create date from year, month and day

In [169]:
cols=["YEAR","MONTH","DAY"]

In [170]:
flightsDF = flightsDF.withColumn("DATE",concat_ws("-",*cols).cast("date"))

In [171]:
flightsDF = flightsDF.drop(*cols)

In [172]:
# remove unecessary columns
columns_to_drop = [
  "TAXI_OUT",
  "TAXI_IN",
  "WHEELS_ON",
  "WHEELS_OFF",
  "YEAR",
  "MONTH",
  "DAY",
  "DAY_OF_WEEK",
  "AIR_SYSTEM_DELAY",
  "SECURITY_DELAY",
  "AIRLINE_DELAY",
  "LATE_AIRCRAFT_DELAY",
  "WEATHER_DELAY",
  "DIVERTED",
  "CANCELLED",
  "CANCELLATION_REASON",
  "FLIGHT_NUMBER",
  "TAIL_NUMBER",
  "AIR_TIME",
]

In [173]:
flightsDF = flightsDF.drop(*columns_to_drop)

In [174]:
flightsDF.show()

+-------------------+-------------------+--------------+---------------+--------------+------------+--------+-----------------+------------+-------------+--------------------+--------------+-----------------+----------+
|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|SCHEDULED_TIME|ELAPSED_TIME|DISTANCE|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|            AIRLINE_|  CITY_DEPART_|    CITY_ARRIVAL_|      DATE|
+-------------------+-------------------+--------------+---------------+--------------+------------+--------+-----------------+------------+-------------+--------------------+--------------+-----------------+----------+
|                SEA|               0005|          2354|            -11|           205|         194|    1448|             0430|        0408|          -22|Alaska Airlines Inc.|     Anchorage|          Seattle|2015-01-01|
|                PBI|               0010|          0002|             -8|           280|         279|    2330|             0750|        0741|           -9|American Airlines...|   Los Angeles|  West Palm Beach|2015-01-01|
|                CLT|               0020|          0018|             -2|           286|         293|    2296|             0806|        0811|            5|     US Airways Inc.| San Francisco|        Charlotte|2015-01-01|
|                MIA|               0020|          0015|             -5|           285|         281|    2342|             0805|        0756|           -9|American Airlines...|   Los Angeles|            Miami|2015-01-01|
|                ANC|               0025|          0024|             -1|           235|         215|    1448|             0320|        0259|          -21|Alaska Airlines Inc.|       Seattle|        Anchorage|2015-01-01|
|                MSP|               0025|          0020|             -5|           217|         230|    1589|             0602|        0610|            8|Delta Air Lines Inc.| San Francisco|      Minneapolis|2015-01-01|
|                MSP|               0025|          0019|             -6|           181|         170|    1299|             0526|        0509|          -17|    Spirit Air Lines|     Las Vegas|      Minneapolis|2015-01-01|
|                CLT|               0030|          0044|             14|           273|         249|    2125|             0803|        0753|          -10|     US Airways Inc.|   Los Angeles|        Charlotte|2015-01-01|
|                DFW|               0030|          0019|            -11|           195|         193|    1464|             0545|        0532|          -13|American Airlines...| San Francisco|Dallas-Fort Worth|2015-01-01|
|                ATL|               0030|          0033|              3|           221|         203|    1747|             0711|        0656|          -15|Delta Air Lines Inc.|     Las Vegas|          Atlanta|2015-01-01|
|                ATL|               0030|          0024|             -6|           173|         149|    1199|             0523|        0453|          -30|Delta Air Lines Inc.|        Denver|          Atlanta|2015-01-01|
|                MIA|               0035|          0027|             -8|           268|         266|    2174|             0803|        0753|          -10|American Airlines...|     Las Vegas|            Miami|2015-01-01|
|                MSP|               0035|          0035|              0|           214|         210|    1535|             0609|        0605|           -4|Delta Air Lines Inc.|   Los Angeles|      Minneapolis|2015-01-01|
|                ATL|               0040|          0034|             -6|           215|         199|    1590|             0615|        0553|          -22|Delta Air Lines Inc.|Salt Lake City|          Atlanta|2015-01-01|
|                MSP|               0040|          0039|             -1|           189|         198|    1399|             0549|        0557|            8|Delta Air Lines Inc.|       Seattle|      Minneapolis|2015-01-01|
|                SEA|               0045|          0041|             -4|           204|         194|    1448|             0509|        0455|          -14|Alaska Airlines Inc.|     Anchorage|          Seattle|2015-01-01|
|                SEA|               0045|          0031|            -14|           210|         200|    1448|             0515|        0451|          -24|Delta Air Lines Inc.|     Anchorage|          Seattle|2015-01-01|
|                IAH|               0048|          0042|             -6|           218|         217|    1635|             0626|        0619|           -7|United Air Lines ...| San Francisco|          Houston|2015-01-01|
|                PDX|               0050|          0046|             -4|           215|         201|    1542|             0525|        0507|          -18|Alaska Airlines Inc.|     Anchorage|         Portland|2015-01-01|
|                MSP|               0050|          0045|             -5|           193|         186|    1426|             0603|        0551|          -12|Delta Air Lines Inc.|      Portland|      Minneapolis|2015-01-01|
+-------------------+-------------------+--------------+---------------+--------------+------------+--------+-----------------+------------+-------------+--------------------+--------------+-----------------+----------+
only showing top 20 rows