In [148]:
#Import Libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [149]:
#Configuration Jobs

#spark = SparkSession \
#    .builder \
#    .appName("Flights") \
#    .getOrCreate()

spark.conf.set('spark.sql.repl.eagerEval.enabled',True)

In [150]:
#Load csv Data to DataFrame

In [151]:
#Flights
flightsDF= spark.read.option("header","true").csv("./Data/flights.csv")
#Airports
airportsDF= spark.read.option("header","true").csv("./Data/airports.csv")
#Airline
airlinesDF= spark.read.option("header","true").csv("./Data/airlines.csv")

In [152]:
#Functions to transform or remove columns
def RemoveUnnecessaryColumnsFunction(df: DataFrame) -> DataFrame:
    columns_to_drop = [
                        'ORIGIN_AIRPORT',
                        'IATA_CODE',
                        'AIRPORT',
                        'CITY',
                        'STATE',
                        'COUNTRY',
                        'LATITUDE',
                        'LONGITUDE']
    return df.drop(*columns_to_drop)

In [153]:
#join airlines to flights to avoid code
flightsDF = flightsDF.join(airlinesDF,flightsDF.AIRLINE ==  airlinesDF.IATA_CODE,"inner").drop(flightsDF.AIRLINE).drop(col("IATA_CODE")).withColumnRenamed("AIRLINE","AIRLINE_") 
flightsDF = flightsDF.join(airportsDF,flightsDF.ORIGIN_AIRPORT ==  airportsDF.IATA_CODE,"inner").withColumnRenamed("CITY","CITY_DEPART_") 
flightsDF = RemoveUnnecessaryColumnsFunction(flightsDF)
flightsDF = flightsDF.join(airportsDF,flightsDF.DESTINATION_AIRPORT ==  airportsDF.IATA_CODE,"inner").withColumnRenamed("CITY","CITY_ARRIVAL_").drop(col("DESTINATION_AIRPORT")) 
flightsDF = RemoveUnnecessaryColumnsFunction(flightsDF)

In [154]:
#flightsDF.select('FLIGHT_NUMBER').distinct().count()  # 6327 num de vol unique
#flightsDF.groupBy('FLIGHT_NUMBER').count().orderBy('count', ascending=False)

+-------------+-----+
|FLIGHT_NUMBER|count|
+-------------+-----+
|          345|  230|
|          469|  230|
|          711|  213|
|          341|  209|
|          404|  208|
|           61|  207|
|          745|  201|
|           12|  199|
|          188|  198|
|          432|  197|
|          316|  192|
|         1159|  191|
|          403|  190|
|          315|  190|
|          470|  188|
|         1271|  188|
|          122|  188|
|          362|  187|
|          454|  186|
|          763|  184|
+-------------+-----+
only showing top 20 rows

In [155]:
#Transform Date

flightsDF = flightsDF.withColumn('DATE_', to_date(concat_ws('-',flightsDF.YEAR,flightsDF.MONTH,flightsDF.DAY))).drop(*['YEAR','MONTH','DAY','DAY_OF_WEEK'])
flightsDF = RemoveUnnecessaryColumnsFunction(flightsDF);
flightsDF.sample(0.1)

+-------------+-----------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+--------------------+--------------+-----------------+----------+
|FLIGHT_NUMBER|TAIL_NUMBER|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|            AIRLINE_|  CITY_DEPART_|    CITY_ARRIVAL_|     DATE_|
+-------------+-----------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+--------------------+--------------+-----------------+----------+
|          840|     N171US|               0020|          0018|             -2|      16|      0034|           286|         293|     266|    2296|     0800|     11|             0806|        0811|            5|       0|        0|               null|            null|          null|         null|               null|         null|     US Airways Inc.| San Francisco|        Charlotte|2015-01-01|
|          258|     N3HYAA|               0020|          0015|             -5|      15|      0030|           285|         281|     258|    2342|     0748|      8|             0805|        0756|           -9|       0|        0|               null|            null|          null|         null|               null|         null|American Airlines...|   Los Angeles|            Miami|2015-01-01|
|         2440|     N651DL|               0040|          0039|             -1|      28|      0107|           189|         198|     166|    1399|     0553|      4|             0549|        0557|            8|       0|        0|               null|            null|          null|         null|               null|         null|Delta Air Lines Inc.|       Seattle|      Minneapolis|2015-01-01|
|         1670|     N806DN|               0050|          0045|             -5|       9|      0054|           193|         186|     171|    1426|     0545|      6|             0603|        0551|          -12|       0|        0|               null|            null|          null|         null|               null|         null|Delta Air Lines Inc.|      Portland|      Minneapolis|2015-01-01|
|          972|     N606NK|               0159|          0158|             -1|      11|      0209|           123|         125|     103|     868|     0452|     11|             0502|        0503|            1|       0|        0|               null|            null|          null|         null|               null|         null|    Spirit Air Lines|       Phoenix|Dallas-Fort Worth|2015-01-01|
|         2134|     N307JB|               0400|          0535|             95|       9|      0544|           185|         175|     163|    1189|     0727|      3|             0605|        0730|           85|       0|        0|               null|               0|             0|           85|                  0|            0|     JetBlue Airways|      San Juan|          Orlando|2015-01-01|
|          730|     N423AS|               0505|          0457|             -8|      16|      0513|           205|         199|     179|    1448|     0912|      4|             0930|        0916|          -14|       0|        0|               null|            null|          null|         null|               null|         null|Alaska Airlines Inc.|     Anchorage|          Seattle|2015-01-01|
|         7419|     N445SW|               0510|          0508|             -2|      21|      0529|            69|          67|      41|     257|     0610|      5|             0619|        0615|           -4|       0|        0|               null|            null|          null|         null|               null|         null|Skywest Airlines ...|      Aberdeen|      Minneapolis|2015-01-01|
|         1279|     N918FR|               0530|          0526|             -4|      12|      0538|           160|         146|     128|     861|     0746|      6|             0810|        0752|          -18|       0|        0|               null|            null|          null|         null|               null|         null|Frontier Airlines...|  Philadelphia|          Orlando|2015-01-01|
|         5184|     N776SK|               0540|          0537|             -3|      18|      0555|           193|         180|     158|    1195|     0933|      4|             0953|        0937|          -16|       0|        0|               null|            null|          null|         null|               null|         null|Skywest Airlines ...|Salt Lake City|          Houston|2015-01-01|
|          917|     N606JB|               0545|          0543|             -2|      12|      0555|            77|          66|      44|     187|     0639|     10|             0702|        0649|          -13|       0|        0|               null|            null|          null|         null|               null|         null|     JetBlue Airways|        Boston|         New York|2015-01-01|
|         4646|     N29917|               0545|          0540|             -5|      26|      0606|           116|         122|      91|     628|     0737|      5|             0741|        0742|            1|       0|        0|               null|            null|          null|         null|               null|         null|Atlantic Southeas...|    Charleston|           Newark|2015-01-01|
|          446|     N651AW|               0550|          0544|             -6|      15|      0559|           178|         179|     159|    1044|     0738|      5|             0748|        0743|           -5|       0|        0|               null|            null|          null|         null|               null|         null|     US Airways Inc.|   Kansas City|          Phoenix|2015-01-01|
|          247|     N462UA|               0600|          0751|            111|      31|      0822|           148|         160|     118|    1009|     1120|     11|             0928|        1131|          123|       0|        0|               null|              12|             0|            0|                  0|          111|United Air Lines ...|       Phoenix|          Houston|2015-01-01|
|         1039|     N541AA|               0600|          0606|              6|      13|      0619|           105|         102|      80|     460|     0739|      9|             0745|        0748|            3|       0|        0|               null|            null|          null|         null|               null|         null|American Airlines...|   Kansas City|Dallas-Fort Worth|2015-01-01|
|         1098|     N966AT|               0600|          0601|              1|       9|      0610|           143|         110|      97|     765|     0847|      4|             0923|        0851|          -32|       0|        0|               null|            null|          null|         null|               null|         null|Delta Air Lines Inc.|      Appleton|          Atlanta|2015-01-01|
|          913|     N3JVAA|               0600|          0605|              5|      12|      0617|           157|         151|     130|     919|     0827|      9|             0837|        0836|           -1|       0|        0|               null|            null|          null|         null|               null|         null|American Airlines...|     Arlington|            Miami|2015-01-01|
|         1574|     N532US|               0600|          0550|            -10|      12|      0602|           209|         212|     196|    1310|     0818|      4|             0829|        0822|           -7|       0|        0|               null|            null|          null|         null|               null|         null|Delta Air Lines Inc.|       Orlando|      Minneapolis|2015-01-01|
|         1600|     N351JB|               0600|          0552|             -8|      17|      0609|           107|          92|      72|     399|     0721|      3|             0747|        0724|          -23|       0|        0|               null|            null|          null|         null|               null|         null|     JetBlue Airways|        Boston|        Arlington|2015-01-01|
|         2533|     N906EV|               0600|          0559|             -1|      33|      0632|           155|         166|     128|     772|     0740|      5|             0735|        0745|           10|       0|        0|               null|            null|          null|         null|               null|         null|Atlantic Southeas...|     Knoxville|Dallas-Fort Worth|2015-01-01|
+-------------+-----------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+--------------------+--------------+-----------------+----------+
only showing top 20 rows